image: node:20.18.1

stages:
  - lint
  - test
  - build
  - deploy

cache:
  paths:
    - node_modules/

variables:
  NODE_VERSION: "20.18.1"

lint:
  stage: lint
  script:
    - npm ci
    - npm run format:check
    - npm run lint:ci
  only:
    - main
    - merge_requests

test:
  stage: test
  script:
    - npm ci
    - npm test
  only:
    - main
    - merge_requests

test:e2e:
  stage: test
  script:
    - npm ci
    - npm run test:e2e:ci
  only:
    - main
    - merge_requests

build:
  stage: build
  script:
    - npm ci
    - npm test
    - npm run test:e2e:ci
    - npm run build
  artifacts:
    paths:
      - dist
    expire_in: 1 hour
  only:
    - main

pages:
  stage: deploy
  dependencies:
    - build
  script:
    - echo "Deploying to GitLab Pages"
  artifacts:
    paths:
      - dist
  only:
    - main
